$color-primary: #209e85;
$color-primary-dark: #127763;
$color-primary-text: #222222;
body
    font-size: 16px;
    background-color: #ffffff;
    color: $color-primary-text;
    padding: 0;
    margin: 0;
    user-select: none;
    -webkit-user-select: none;
    cursor: default;

button
    box-sizing: border-box;
    border: none;
    font-size: 1.1rem;
    outline: none;
    background-color: #eeeeee;
    padding: 0.3rem;
    color: $color-primary;

button:active
    background-color: #dfdfdf;

@import login
