.top
    box-sizing: border-box;
    height: 100px;
    background-color: $color-primary;
    color: #ffffff;
    border-bottom: solid 2px $color-primary-dark;
    margin: 0;
    padding: 1.5rem 1rem 1rem 1rem;
    text-align: right;

    h1
        margin: 0;
        font-size: 1.5rem;
        text-align: center;
        font-weight: normal;

    .for
        font-size: 0.8rem;
        background-color: rgba(255, 255, 255, 0.2);
        text-align: right;
        display: inline-block;
        border-radius: 0.9rem;
        padding: 0.1rem 0.3rem 0.1rem 0.3rem;

    .author
        font-size: 0.8rem;
        opacity: 0.8;
        text-align: right;
        padding-right: 0.5rem;

.mid
    box-sizing: border-box;
    height: 210px;

.mid.attemping
    font-size: 0.9rem;
    color: #666666;
    text-align: center;
    line-height: 2;

.bottom button
    height: 40px;
    margin: 0;

.bottom.onebtn button
    width: 100%;
    font-size: 1rem;
